.main {
  text-align: center;
  padding-top: 50px;
}

.footer {
  text-align: center;
  padding-top: 30px;
}

.flexbox-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flexbox-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
